# B7 Day 2 Assignment

# Q1- List and its default functions

In [1]:
lst=[5,"anamika",[2,4,6,8],27,3.14,478.26]

In [2]:
lst

[5, 'anamika', [2, 4, 6, 8], 27, 3.14, 478.26]

In [3]:
lst[2][3]

8

In [4]:
lst[-1]

478.26

In [5]:
lst.pop(5)

478.26

In [6]:
lst.remove(27)

In [7]:
lst

[5, 'anamika', [2, 4, 6, 8], 3.14]

In [8]:
lst.append("thank you")

In [9]:
lst

[5, 'anamika', [2, 4, 6, 8], 3.14, 'thank you']

In [10]:
lst.insert(2,5)

In [11]:
lst

[5, 'anamika', 5, [2, 4, 6, 8], 3.14, 'thank you']

In [12]:
lst.count(5)

2

#  Q2- Dictionary and its default functions

In [14]:
dit={"name":"anamika","age":"27","gender":"female","place":"agra","number":1234567890,"email":"singhanamika.5403@gmail.com"}

In [15]:
dit

{'name': 'anamika',
 'age': '27',
 'gender': 'female',
 'place': 'agra',
 'number': 1234567890,
 'email': 'singhanamika.5403@gmail.com'}

In [16]:
dit.get("place")

'agra'

In [17]:
dit.items()

dict_items([('name', 'anamika'), ('age', '27'), ('gender', 'female'), ('place', 'agra'), ('number', 1234567890), ('email', 'singhanamika.5403@gmail.com')])

In [18]:
dit.keys()

dict_keys(['name', 'age', 'gender', 'place', 'number', 'email'])

In [19]:
dit.popitem()

('email', 'singhanamika.5403@gmail.com')

In [20]:
dit.update()

In [21]:
dit

{'name': 'anamika',
 'age': '27',
 'gender': 'female',
 'place': 'agra',
 'number': 1234567890}

# Q3- Sets and its default functions

In [22]:
st={3,5,26,89,256,78.9,12.5,"anamika"}

In [23]:
st

{12.5, 256, 26, 3, 5, 78.9, 89, 'anamika'}

In [24]:
st.add("thank you")

In [25]:
st

{12.5, 256, 26, 3, 5, 78.9, 89, 'anamika', 'thank you'}

In [26]:
st.difference()

{12.5, 256, 26, 3, 5, 78.9, 89, 'anamika', 'thank you'}

In [30]:
st.pop()

256

In [31]:
st

{12.5, 26, 3, 5, 78.9, 89, 'anamika', 'thank you'}

In [33]:
st.issubset([5])

False

In [35]:
st.symmetric_difference_update("thank you")

In [36]:
st

{' ',
 12.5,
 26,
 3,
 5,
 78.9,
 89,
 'a',
 'anamika',
 'h',
 'k',
 'n',
 'o',
 't',
 'thank you',
 'u',
 'y'}

# Q4- Tuple and explore default methods

In [37]:
tup=("singh","anamika",".","5403","@","gmail.com",27,6,"anamika")

In [38]:
tup

('singh', 'anamika', '.', '5403', '@', 'gmail.com', 27, 6, 'anamika')

In [39]:
tup.count(27)

1

In [40]:
tup.index("anamika")

1

In [41]:
tup.index(6)

7

In [43]:
tup.count("@")

1

In [44]:
tup.index(".")

2

# Q5- Strings and explore default methods

In [47]:
name = "anamika"
surname = "Singh"

In [48]:
name

'anamika'

In [50]:
name+" "+surname

'anamika Singh'

In [51]:
surname

'Singh'

In [52]:
type(name)

str

In [54]:
type(surname)

str